{% extends 'main.html'%}
{% load custom_filters %}

{% block content %}
<style>
    .filter-container{
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
    }
    h1{
        margin:30px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        background-color: white;
        border: 2px solid #4B9E3B; 
        border-radius: 10px; 
        overflow: hidden;
        table-layout: auto;
    }
    th, td {
        border: 1px solid #4B9E3B;
        padding: 8px;
        text-align: left;
        overflow: auto;
    }
    th {
        background-color: #4B9E3B;
        color: white;
    }
    td {
        color: black;
    }
    .btn-secondary{
    background-color: white;
    border-color: #4B9E3B;
    color: #4B9E3B;
    font-size: 1rem;
    padding: 3px 6px;
    border-radius: 4px;
    cursor: pointer;
    }
    .btn-secondary:hover {
    background-color: #3a7c2c;
    }
    .btn-primary{
        padding: 3px 6px;
    }
    .custom-field {
        width: auto;
        max-width: 100px;
    }
    .custom-field-number {
        max-width: 80px;
    }
</style>
<Div class="container">
<h1 class="text-center">Customer report</h1>
    <div class="filter-container">
        <h3>Filter</h3>
        <form method="GET">
            <div class="form-row align-items-end">
                {% for field in filters.form %}
                <div class="col">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:"custom-field" }}
                </div>
                {% endfor %}
            </div><br>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>
<table>
    <thead>
        <tr>
            <th>Customer</th>
            <th>Customer Number</th>
            <th>Total Purchase</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for cus in customers %}
        <tr>
            <td>{{ cus.Cus_Name }}</td>
            <td>{{ cus.Cus_Number }}</td>
            <td>Rs.{{ cus.Cus_Purchase}}</td>
            <td>
                <a href="{% url 'viewCustomer' cus.id %}"><button class="btn btn-primary">View</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th colspan=4>Total sales</th>
        <th>Rs.{{total_amount}}</th>
    </tr>
    </table>
</Div>
{% endblock %}